################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/GraphCallingBots
/src/examples/PstnBot/.vs/PstnBot
/src/examples/PstnBot/bin/Debug/net7.0
/src/examples/PstnBot/obj
/src/examples/PstnBot/PstnBot.csproj.user
/src/lib/SimpleCallingBot/.vs/SimpleCallingBot
/src/lib/SimpleCallingBot/bin/Debug/net7.0
/src/lib/SimpleCallingBot/obj
/src/tests/UnitTests/bin/Debug/net7.0
/src/tests/UnitTests/obj
/.vs
/src/.vs/ProjectEvaluation
/src/examples/ChatBotWithCalling/Solution/.vs
/src/examples/ChatBotWithCalling/Solution/Bot/bin/Debug
/src/examples/ChatBotWithCalling/Solution/Bot/obj/Debug
/src/examples/ChatBotWithCalling/Solution/Bot/obj
/src/examples/ChatBotWithCalling/Solution/CommonUtils/bin/Debug
/src/examples/ChatBotWithCalling/Solution/CommonUtils/obj/Debug
/src/examples/ChatBotWithCalling/Solution/CommonUtils/obj
/src/examples/ChatBotWithCalling/Teams App/manifest.json
/src/examples/ChatBotWithCalling/Solution/Engine/obj
/src/examples/ChatBotWithCalling/Solution/Engine/bin/Debug/net7.0
/src/examples/ChatBotWithCalling/Solution/UnitTests/bin/Debug/net7.0
/src/examples/ChatBotWithCalling/Solution/UnitTests/obj
/src/lib/ServiceHostedMediaCallingBot.Engine/.vs/SimpleCallingBot
/src/lib/ServiceHostedMediaCallingBot.Engine/bin/Debug/net7.0
/src/lib/ServiceHostedMediaCallingBot.Engine/obj
