################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/GraphCallingBots
/src/examples/PstnBot/.vs/PstnBot
/src/examples/PstnBot/bin/Debug/net7.0
/src/examples/PstnBot/obj
/src/examples/PstnBot/PstnBot.csproj.user
/src/lib/SimpleCallingBot/.vs/SimpleCallingBot
/src/lib/SimpleCallingBot/bin/Debug/net7.0
/src/lib/SimpleCallingBot/obj
/src/tests/UnitTests/bin/Debug/net7.0
/src/tests/UnitTests/obj
/.vs
/src/.vs/ProjectEvaluation
