################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/GraphCallingBots
/src/examples/PstnBot/.vs/PstnBot
/src/examples/PstnBot/bin/Debug/net7.0
/src/examples/PstnBot/obj
/src/examples/PstnBot/PstnBot.csproj.user
/src/lib/SimpleCallingBot/.vs/SimpleCallingBot
/src/lib/SimpleCallingBot/bin/Debug/net7.0
/src/lib/SimpleCallingBot/obj
/src/tests/UnitTests/bin/Debug/net7.0
/src/tests/UnitTests/obj
/.vs
/src/.vs/ProjectEvaluation
/src/examples/ChatBotWithCalling/Solution/.vs
/src/examples/ChatBotWithCalling/Solution/Bot/bin/Debug
/src/examples/ChatBotWithCalling/Solution/Bot/obj/Debug
/src/examples/ChatBotWithCalling/Solution/Bot/obj
/src/examples/ChatBotWithCalling/Solution/CommonUtils/bin/Debug
/src/examples/ChatBotWithCalling/Solution/CommonUtils/obj/Debug
/src/examples/ChatBotWithCalling/Solution/CommonUtils/obj
/src/examples/ChatBotWithCalling/Teams App/manifest.json
/src/examples/ChatBotWithCalling/Solution/Engine/obj
/src/examples/ChatBotWithCalling/Solution/Engine/bin/Debug/net7.0
/src/examples/ChatBotWithCalling/Solution/UnitTests/bin/Debug/net7.0
/src/examples/ChatBotWithCalling/Solution/UnitTests/obj
/src/lib/ServiceHostedMediaCallingBot.Engine/.vs/SimpleCallingBot
/src/lib/ServiceHostedMediaCallingBot.Engine/bin/Debug/net7.0
/src/lib/ServiceHostedMediaCallingBot.Engine/obj
*.user
/src/examples/ChatBotWithCalling/Solution/GroupCallingChatBot.Web/bin/Debug
/src/examples/ChatBotWithCalling/Solution/GroupCallingChatBot.Web/obj
/src/examples/P2pPstnBot/PstnBot.Shared/obj
/src/examples/P2pPstnBot/PstnBot.Web/.vs/PstnBot
/src/examples/P2pPstnBot/PstnBot.Web/bin/Debug/net7.0
/src/examples/P2pPstnBot/PstnBot.Web/obj
/src/examples/P2pPstnBot/PstnBot.Shared/bin/Debug/net7.0
/src/EngineTests/UnitTests/bin
/src/EngineTests/UnitTests/obj
/src/examples/CallingTestBot/UnitTests/bin/Debug/net7.0
/src/examples/CallingTestBot/UnitTests/obj
/src/examples/CallingTestBot/FunctionApp/Properties/PublishProfiles
/src/examples/CallingTestBot/FunctionApp/Properties/ServiceDependencies/CallingTestBot - Zip Deploy
/src/examples/ChatBotWithCalling/Solution/CommonUtils/bin/Release/net7.0
/src/lib/ServiceHostedMediaCallingBot.Engine/bin/Release/net7.0
/src/examples/CallingTestBot/FunctionApp/Properties/serviceDependencies.CallingTestBot - Zip Deploy.json
/src/examples/ChatBotWithCalling/Solution/UnitTests/bin/Release/net7.0
/src/examples/CallingTestBot/UnitTests/bin/Release/net7.0
/src/examples/GroupCallingBotFunctionsApp/Solution/.vs
