<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://callingtestbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a0a08ecb-a4cb-4e5f-9330-4a229202688a/resourceGroups/CallingTestBot/providers/Microsoft.Web/sites/CallingTestBot</ResourceId>
    <UserName>$CallingTestBot</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://callingtestbot.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>